<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>landing css</title>
  </head>
  <body>
    <header id="showcase">
      <h1>welcome to my site</h1>
    </header>
    <div id="content" class="container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos pariatur
      eaque. Veritatis, corporis architecto reiciendis ipsam unde ducimus
      deleniti nam autem animi, cupiditate molestias. Dignissimos accusamus
      itaque laboriosam tempora explicabo! Sapiente rem fugit deserunt, nobis
      maxime blanditiis expedita ullam exercitationem nostrum a fugiat totam,
      neque excepturi maiores quod culpa esse, libero necessitatibus minima.
      Delectus eos consequuntur nobis voluptas nemo inventore asperiores
      deserunt incidunt esse sit ducimus sunt ipsum et, corrupti iusto error
      harum corporis in commodi nulla veritatis animi?
    </div>
    <a href="#" class="btn">Read more</a>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <main data-router-wrapper>
      <section data-router-view="about" class="about">
        <div class="about-content">
          <div class="about-presentation">
            <h1>Internship</h1>
            <p>ESIC LAB</p>
          </div>
          <img src="./images/rubix.svg" alt="My picture" />
        </div>
      </section>
    </main>
  </body>
</html>
